/*#main-buttons button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: block;
}*/

#backcolor {
    opacity: 0.8;
    background-color: yellow;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}


/*#namedcolors:hover {
    background-color: red;
    animation: namedcolors 0.3s infinite alternate;
}*/

@keyframes namedcolors {
    100% {
        background-color: orange;
    }
}

body {
    font-family: 'Merriweather Sans', arial;
    text-align: center;
    padding-top: 75px;
}

.button {
    /*We will create a white to black gradient using 'background-image' with 60% opacity. This will be later merged with animated 'background-color' to give the effect of an animated gradient*/
    background-image: linear-gradient( rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.6));
    display: block;
    height: 70px;
    width: 200px;
    line-height: 70px;
    /*Same as height*/
    margin: 5px;
    padding: 0px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    background-color: grey;
    margin-left: 550px;
}

#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /* 10% opaque red */
    background-size: cover;
    /*background-color: transparent;
    background-color: yellow;*/
}

#start-button {
    margin-top: 100px;
}