html, body, img, ul, li {
    margin: 0;
    padding: 0;
}

#tower-menu > ul {
    border: 1px black solid;
    width: 310px;
    height: 100px;
}

#tower-menu > ul > li {
    display: inline;
    list-style: none;
}
#tower-menu>ul>li>img {
    transition: all .2s ease-in-out;
}

#tower-menu > ul > li>img:hover {
    transform: scale(1.1);
    cursor: pointer;
}