html, body, img, ul, li {
    margin: 0;
    padding: 0;
}

/*------------------------------- Tower Menu -------------------------------*/
#tower-menu {
    display: none;
}

#tower-menu > ul {
    border: 1px black solid;
    width: 310px;
    height: 100px;
}

#tower-menu > ul > li {
    display: inline;
    list-style: none;
}
#tower-menu> ul > li > img {
    transition: all .2s ease-in-out;
}

#tower-menu > ul > li > img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/*------------------------------- Canvas -------------------------------*/
#canvas-container {
    position: relative;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0; 
    /*width: 500px;*/
}